/* 
WOO CUSTOM STYLESHEET
---------------------

Instructions:

Add your custom styles in this file instead of style.css so it 
is easier to update the theme. Simply copy an existing style 
from style.css to this file, and modify it to your liking. */



#wrapper {
    padding-top: 0;
    padding-bottom: 0;
}

#header {
    background-color:   #2180BC;    
    background-image: none;
    margin: 0 0 10px;
}


#header .col-full {
    padding: 4px 0;
}

#footer {
    background-color: #2180BC;
    background-image: none;
    margin: 0 0 10px;
}

#content {
    padding: 0 5px 5px;
}

#navigation {
    font: bold 13px/1em 'Ubuntu',arial,sans-serif;
    margin-top: 70px;
}


menu-item a, .nav li.sfHover {
    background: none repeat scroll 0 0 #456789;
    border-radius: 15px 15px 15px 15px;
}

.post .title, .page .title {
    color: #88AC0B;
    font: bold 30px/1em 'Ubuntu',arial,sans-serif;
    margin: 0 0 0.4em;
    position: relative;
}




.entry, .entry p {
    color: #444444 !important;
    font: 16px/1.5em  Ubuntu,Arial,sans-serif;
}


.entry table {
    border: none;
    margin-bottom: 1.2em;
    width: 100%;
}

.nav a {
    display: inline;
}

.entry table tr.alt-table-row {
    background: none;
}



.entry table td {
    background-color: #ECFCB3;
    border: 0 solid #FFFFFF;
    padding: 6px 20px 10px 10px;
}

.entry img, img.thumbnail {
    border: none;
}

.two-col-right #sidebar {
    float: left;
    width: 200px;
    font: 16px/0.5em 'Ubuntu',arial,sans-serif;
}



.two-col-right #main {
    float: right;
    width: 800px;
}


#main.fullwidth, .layout-full #main, .col-full {
    margin: 0 auto;
    width: 1005px;
}



.fr {
    float: left;
}

.nav li {
    float: left;
    margin-left: 2px;
    width: auto;
}

#logo {
    float: left;
    padding: 5px 5px 5px 20px;
}


#sidebar .widget {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 15px 15px 15px 15px;
}
#sidebar .widget ul {
    list-style-position: outside;
    list-style-type: none;
}


#main .page {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 15px 15px 15px 15px;
}

.entry h3 {
    color: #88AC0B;
    font: bold 24px/3em 'Ubuntu',arial,sans-serif;
}

pre {
    font-size: smaller;
    line-height: 1.2em;
}
