 ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, div.paragraph, blockquote, fieldset, input { margin: 0; padding: 0; }
 ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input { margin: 0; padding: 0; }
 ul { list-style: none; }
 fieldset { border: 0; }
 a img { border: 0; }
 .clear { clear: both; font-size: 0; height: 0; }
 a { color: #2180bc; text-decoration: none; }
 a:hover { color: #88ac0b; text-decoration: none; }
 body { font-family: Verdana, Geneva, sans-serif; font-size: 12px; color: #555; margin: 0; padding: 0; background: #ccc; }
 div.paragraph { line-height: 1.5; padding: .5em 0; }
 p { line-height: 1.5; padding: .5em 0; }
 h2, h3, h4 { font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; font-weight: bold; font-size: 18px; color: #88ac0b; padding: .5em 0 .2em 0; }
 h2, h3 { line-height: 1.3; padding: .5em 0 .2em 0; border-bottom: 1px solid #f2f3f4; }
 #container { width: 820px; margin: 0 auto; }
 #container { }
 .section-bot { background: url(theme/section-bot-bg.png?205601) no-repeat left bottom; padding-bottom: 35px; margin-bottom: 50px; }
 .section-top { background: url(theme/top-bg.png?205601) no-repeat right top; padding-top: 34px; }
 .section-contant { background: url(theme/section-contant-bg.png?205601) repeat-y center; padding: 0 20px; }
 #header a { color: #a0d5f3; }
 #header a:hover { color: #FFFFFF; }
 #logo, #logo a { text-decoration: none; font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; font-weight: bold; font-size: 34px; color: #fefefe; }
 #navigation-border { background: url(theme/nav-bg.png?205601) repeat-x; padding: 6px 0 5px; }
 #navigation { line-height: 1; }
 #navigation ul { float: right; margin-right: 23px; }
 #navigation li { float: left; margin-right: 3px; position: relative; }
 #navigation li a { display: inline-block; color: #fff; font-size: 12px; font-weight: bold; text-decoration: none; padding: 7px 10px; border: 0; }
 #navigation li a:hover, #navigation li#active a { color: #d4e59f; background: #156aab; }
 #wsite-menus .wsite-menu li a { padding: 8px 15px; color: #fff; background: #1669ab; border: 0; border-bottom: 1px solid #2983c2; }
 #wsite-menus .wsite-menu li a:hover { color: #fff; background: #3799d4; border-bottom: 1px solid #2983c2; }
 #wsite-menus .wsite-menu span { padding: 0; }
 #header { width: 100%; height: 80px; background: #2785c3; }
 #header, #header table { border-collapse: collapse; border-spacing: 0; }
 #header td { vertical-align: middle; text-align: left; }
 #logo { padding: 0 0 15px 25px; }
 #header-right { padding: 0 25px 0 5px; }
 #header-right table { width: 1px; }
 #header-right table, #header-right .search, #header-right .wsite-search { clear: right; float: right; }
 #header-right td { padding: 0; }
 #header-right .phone-number .wsite-text { color: #fff; font-weight: bold; font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; font-size: 13px; display: block; white-space: nowrap; margin: 5px 0 5px 10px; }
 #header-right .wsite-social { vertical-align: middle; margin: 5px 0 5px 10px; }
 .wsite-social-item { display: inline-block; width: 19px; height: 19px; margin: 0 0 0 3px; vertical-align: middle; cursor: pointer; font-size: 0; }
 .wsite-social-item span { display: none; }
 .wsite-social-rss { background: transparent url(theme/rss-h.png?205601) no-repeat; }
 .wsite-social-linkedin { background: transparent url(theme/linkedin-h.png?205601) no-repeat; }
 .wsite-social-facebook { background: transparent url(theme/facebook-h.png?205601) no-repeat; }
 .wsite-social-twitter { background: transparent url(theme/twitter-h.png?205601) no-repeat; }
 #header .wsite-search { display: inline-block; background: transparent url(theme/searchForm-bg.png?205601) no-repeat; margin: 5px 0 5px 10px; }
 #header .wsite-search-input { width: 90px; height: 12px; border: 0; padding: 6px 10px !important; background: none; vertical-align: middle; }
 #header .wsite-search-button { display: inline-block; vertical-align: middle; width: 65px; height: 24px; border: 0; margin: 0; padding: 0; cursor: pointer; font-size: 0; background: none; }
 #footer { color: #fffefe; font-size: 11px; border-top: 1px solid #52a3e5; text-align: right; }
 #footer-border { border-top: 1px solid #1669ab; padding: 15px 26px 0 29px; }
 #footer h1, #footer h2, #footer h3 { color: #fff; }
 #footer a { color: #a0d5f3; }
 #footer a:hover { color: #fff; }
 #footer-right { float: right; }
 #footer .wsite-social { display: inline-block; vertical-align: middle; margin: 0 9px 0 0; }
 #footer .wsite-social-item { width: 16px; height: 16px; margin: 0 1px 0 0; }
 #footer .wsite-social-rss { background: transparent url(theme/rss.png?205601) no-repeat; }
 #footer .wsite-social-linkedin { background: transparent url(theme/linkedin.png?205601) no-repeat; }
 #footer .wsite-social-facebook { background: transparent url(theme/facebook.png?205601) no-repeat; }
 #footer .wsite-social-twitter { background: transparent url(theme/twitter.png?205601) no-repeat; }
 .rights { line-height: 16px; vertical-align: middle; }
 .wsite-footer { }
 #main { background: #fff; margin: 0 5px 5px 5px; }
 #banner { padding: 5px 5px 0 5px; margin-bottom: 20px; }
 .wsite-header { }
 #content { min-height: 400px; padding: 0 18px 53px 22px; }
 .tall-header-page .wsite-header { height: 260px; background: url(theme/banner-tall.jpg?205601) no-repeat; }
 .short-header-page .wsite-header { height: 160px; background: url(theme/banner-short.jpg?205601) no-repeat; }
 .landing-page #banner { }
 #banner-right { float: right; width: 407px; }
 #banner-right .wsite-header { height: 320px; background: url(theme/banner-landing.jpg?205601) no-repeat; }
 #banner-left { float: left; width: 312px; padding: 73px 20px 20px 20px; }
 #banner-left h2 { font-size: 24px; padding-bottom: 25px; padding-bottom: 0; border: none; }
 #banner-left div.paragraph { font-size: 12px; font-family: Verdana, Geneva, sans-serif; color: #555555; padding-bottom: 32px; }
 #banner-left p { font-size: 12px; font-family: Verdana, Geneva, sans-serif; color: #555555; padding-bottom: 32px; }
 .splash-page #container { width: 620px; }
 .splash-page .section-bot { background: url(theme/splash-bott-bg.png?205601) no-repeat left bottom; padding-bottom: 26px; }
 .splash-page .section-top { background: url(theme/splash-top-bg.png?205601) no-repeat right top; padding-top: 26px; }
 .splash-page .section-contant { background: url(theme/splash-content-bg.png?205601) repeat-y center; padding: 0 20px; }
 .splash-page .search { display: none; }
 .splash-page h2 { padding-bottom: 5px; }
 .splash-page div.paragraph { padding-bottom: 28px; }
 .splash-page p { padding-bottom: 28px; }
 .splash-page .phone-number { }
 .splash-page .wsite-header { height: 160px; background: url(theme/banner-splash.jpg?205601); }
 .splash-page #content { height: auto !important; min-height: 300px; }
 .splash-page #footer .wsite-social { display: none; }
 .wsite-form-label { display: inline-block; color: #88ac0b; font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; font-size: 13px; font-weight: bold; padding: 15px 0 6px 0; }
 .form-radio-container { }
 .wsite-form-input { font-family: Verdana, Geneva, sans-serif; font-size: 12px; background: #fff; color: #555; border: 1px solid #d2d2d2; padding: 7px 5px 6px 5px !important; width: 300px; line-height: 1; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; margin-bottom: 3px; }
 .form-select { background: #fff; color: #555; font-size: 12px; border: 1px solid #d2d2d2; width: 330px; height: 20px; line-height: 16px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
 .wsite-button { color: #fff !important; height: 34px; display: inline-block; font-size: 14px; border: none; font-weight: bold; text-decoration: none; padding: 0 10px 0 0; background: url(theme/button.png?205601) no-repeat 100% -105px; }
 .wsite-button:hover { background-position: 100% -140px; }
 .wsite-button:active { background-position: 100% -175px; }
 .wsite-button-inner { color: #fff !important; height: 34px; line-height: 34px; display: block; font-size: 14px; font-weight: bold; border: none; text-decoration: none; padding: 0 10px 0 20px; background: url(theme/button.png?205601) no-repeat 0 0; }
 .wsite-button:hover .wsite-button-inner { background-position: 0 -35px; }
 .wsite-button:active .wsite-button-inner { background-position: 0 -70px; }
 .wsite-button-large { color: #fff !important; height: 41px; background: url(theme/button_large.png?205601) no-repeat 100% -126px; padding: 0 10px 0 0; }
 .wsite-button-large:hover { background-position: 100% -168px; }
 .wsite-button-large:active { background-position: 100% -210px; }
 .wsite-button-large .wsite-button-inner { color: #fff !important; height: 41px; line-height: 41px; padding: 0 10px 0 20px; background: url(theme/button_large.png?205601) no-repeat 0 0; }
 .wsite-button-large:hover .wsite-button-inner { background-position: 0 -42px; }
 .wsite-button-large:active .wsite-button-inner { background-position: 0 -84px; }
 .wsite-button-large.wsite-button-highlight { color: #fff !important; background-image: url(theme/button_large_highlight.png?205601); }
 .wsite-button-large.wsite-button-highlight .wsite-button-inner { color: #fff !important; background-image: url(theme/button_large_highlight.png?205601); }
 .wsite-button-highlight { color: #fff !important; background-image: url(theme/button_highlight.png?205601); }
 .wsite-button-highlight .wsite-button-inner { color: #fff !important; background-image: url(theme/button_highlight.png?205601); }

div.paragraph ul, div.paragraph ol { padding-left: 25px !important; margin: 5px 0 !important; overflow:hidden; }
div.paragraph li { padding-left: 5px !important; margin: 3px 0 0 !important; }
div.paragraph ul, div.paragraph ul li { list-style: disc outside !important; }
div.paragraph ol, div.paragraph ol li { list-style: decimal outside !important; }
